.emptyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background-color: rgba(128, 128, 128, 0.358);

    padding: 20px;
    margin: 0 auto;
}

.emptyLogo {
    width: 50px;
    margin-bottom: 20px;
}